.container {
    display: flex;
    flex-direction: column;
    padding: 3%;
    align-items: center;
    margin-top: 13%;
}

#userName{
    text-align: center;
    width: 200px;
    height: 30px;;
    margin: 3%;
    position: center;
    border: 1px solid gray;
    border-radius:5px;
    color:white;
    background: #47494c;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
}

#userName:hover {
    background:#7f8082;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

#search:hover {
    border-radius: 2px;
    border-color: grey; 
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}
#search {
    border-radius:5px;
    position: relative;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
}
