.together{
    display: flex;
    flex-direction: row;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.filter{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 20%;
    margin: auto;
}

.top{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 1%;
}
#hasOI{
    cursor: pointer;
}
#hasTopics{
    cursor: pointer;
}
.date{
    justify-content: space-between;
    margin-bottom: 1%;
    padding: 1%;
    
}

.type{
    display: flex;
    margin-bottom: 2%;
    padding: 1%;
    
}

#filter{
    width: 100px;
    height: 30px;
    margin-left: 35%;

    border-radius:5px;
    position: relative;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    
}

#filter:hover {
    border-radius: 2px;
    border-color: grey; 
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}   


.sort{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 20%;
    }

.bySome{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}
 [type="radio"]{
    cursor: pointer;
}
#type{
    margin-right: 2%;
}

.sortD-n{
    display: flex;
    margin-bottom: 4%;
    padding: 1%;
}
#sort{
    width: 100px;
    height: 30px;
    margin-left: 35%;
    margin-top: 2%;
    border-radius:5px;
    position: relative;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
}

#sort:hover {
    border-radius: 2px;
    border-color: grey; 
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}


#repositories{
    margin: 2%;
    padding: 2%;
}

.repo {
    width: 100%;
    padding: 20px;
    background: #d0d5dd /*#c6cad1*/;
}
.repo:hover{
    background: #9a9ca0;
}

.repo .name-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.repo .name-container .name {
    font-size: 20px;
}

.repo .name-container .fork {
    font-size: 10px;
    align-self: center;
    padding-left: 10px;
 }

.repo .description{
    font-size: 14px;
}

.repo .info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.repo .info div{
    padding: 0 5px;
}

.repo .info .language{
    align-self: center;
    font-size: 10px;
}

.repo .info .stars{
    align-self: center;
    font-size: 12px;
}

.repo .info .updated {
    align-self: center;
    font-size: 12px;
}
    

